@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br /><br />
    <p>Welcome to our Assignment 2 Project Sir</p>
    <p>Student: Aiden Mackean and Greg Rowat</p>
    <p>ID: 040707105 and 041001565</p>
    <br /><br />
</div>
